/* Mengatur ulang beberapa styling default */
html {
    scroll-behavior: smooth !important;
    scroll-padding-top: 100px !important;
}

body {
    font-family: "Ubuntu Sans", sans-serif !important;
    font-weight: bold !important;
    background: rgb(0, 0, 0) !important;
    background: linear-gradient(
        90deg,
        rgba(0, 0, 0, 1) 33%,
        rgba(84, 14, 1, 1) 73%
    ) !important;
}

.tulisan-merah:hover {
    color: #ff1e1ec9 !important;
}

.navbar {
    transition: background-color 0.3s ease, backdrop-filter 0.3s ease;
}

.navbar.blur {
    backdrop-filter: blur(5px);
}

#about {
    font-weight: bold !important;
}

.image-about {
    overflow: hidden;
    position: relative;
    width: 315px !important;
    height: auto;
    border-radius: 20px;
}

.image-container {
    overflow: hidden;
    position: relative;
    width: 350px !important;
    height: auto;
    border-radius: 20px;
}

.yoga-about {
    width: 100%;
    height: auto;
    transition: transform 0.5s ease;
}

.yoga-about:hover {
    filter: saturate(171%);
    transform: scale(1.5) rotate(-7deg) translate(0px, 53px) !important;
    box-shadow: 11px 10px 1px 1px rgba(255, 9, 9, 0.3) !important;
}

.yoga {
    width: 100%;
    height: auto;
    transition: transform 0.5s ease;
}

.yoga:hover {
    filter: saturate(171%);
    transform: scale(1.5) rotate(7deg) translate(0px, -40px);
}

.red-text {
    color: #ff1e1e;
}

.blue-text {
    color: #00ffff;
}

.purple-text {
    color: #d20062;
}

.yellow-text {
    color: #f3ca52;
}

.navbar-blur {
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
}

input {
    display: none;
}

.card_wrapper {
    width: auto;
    display: flex;
    align-items: center;
}

.card_box {
    background: #0a0a0a;
    border-radius: 40px;
    margin-top: 40px;
    transition: 0.3s;
    margin-bottom: 40px;
    height: 600px;
    width: auto;
}

.card_box:hover {
    box-shadow: 0px 4px 0px rgba(0, 0, 0, 0.05);
    transform: translateY(-10px);
}

.card_text {
    padding: 30px 20px 25px 20px;
}

.card_text h4 {
    font-size: 18px;
    font-weight: bold;
    color: #ffffff;
}

.card_text p {
    font-size: 14px;
    color: #c9c9c9;
}

.slider_carousel .owl-nav {
    position: absolute;
    top: 50%;
    width: 100%;
}

.slider_carousel .owl-prev,
.slider_carousel .owl-next {
    width: 30px;
    height: 30px;
    background: #000000;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    position: absolute;
    top: 50%;
}

.slider_carousel .owl-next {
    right: -50px;
}

.slider_carousel .owl-prev {
    left: -50px;
}

.container-img {
    width: 350px !important;
    max-width: 365px;
}

.container-img img {
    max-height: 1000px;
    max-width: 1000px;
    width: auto;
    height: auto;
    display: block;
    object-fit: cover;
}

.container-img img:hover {
    filter: grayscale(50%);
}

#contact {
    font-family: 'Ubuntu Sans', sans-serif !important;
    font-style: normal !important;
    margin-top: 200px;
    margin-bottom: 200px;
}

.contact-text {
    font-size: 90px !important;
}

.box-article {
    background: linear-gradient(
        0deg,
        rgba(0, 0, 0, 1) 0%,
        rgba(120, 19, 19, 1) 100%
    );
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 10px 10px 0px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 10px 10px 0px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 10px 10px 0px 0px rgba(0, 0, 0, 0.75);
    margin-bottom: 50px;
}

.resizable-input {
    width: 200px; /* lebar awal */
    resize: horizontal; /* memungkinkan pengguna mengubah lebar */
    overflow: auto; /* penting untuk resize bekerja pada Firefox */
    min-width: 50px; /* lebar minimum */
    max-width: 300px; /* lebar maksimum */
}

.group {
    position: relative;
    margin-bottom: 45px;
}

textarea {
    color: #ffff;
    background: 0;
    font-size: 18px;
    padding: 10px 10px 10px 5px;
    display: block;
    width: 300px;
    border: none;
    border-bottom: 1px solid #ffffff;
}
textarea:focus {
    outline: none;
}

input {
    color: #ffff;
    background: 0;
    font-size: 18px;
    padding: 10px 10px 10px 5px;
    display: block;
    width: 300px;
    border: none;
    border-bottom: 1px solid #ffffff;
}
input:focus {
    outline: none;
}

/* LABEL ======================================= */
label {
    color: #ffffff;
    font-family: "Ubuntu Sans", serif;
    font-size: 18px;
    font-weight: bold;
    position: absolute;
    pointer-events: none;
    left: 5px;
    top: 10px;
    transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all;
}

/* active state */
input:focus ~ label,
input:valid ~ label {
    top: -20px;
    font-size: 14px;
    color: #ffffff;
}

textarea:focus ~ label,
textarea:valid ~ label {
    top: -20px;
    font-size: 20px;
    color: #ffffff;
}

/* BOTTOM BARS ================================= */
.bar {
    position: relative;
    display: block;
    width: 300px;
}
.bar:before,
.bar:after {
    content: "";
    height: 2px;
    width: 0;
    bottom: 1px;
    position: absolute;
    background: #ffffff;
    transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all;
}
.bar:before {
    left: 50%;
}
.bar:after {
    right: 50%;
}

/* active state */
input:focus ~ .bar:before,
input:focus ~ .bar:after {
    width: 50%;
}

textarea:focus ~ .bar:before,
textarea:focus ~ .bar:after {
    width: 50%;
}

/* HIGHLIGHTER ================================== */
.highlight {
    position: absolute;
    height: 60%;
    width: 100px;
    top: 25%;
    left: 0;
    pointer-events: none;
    opacity: 0.5;
}

/* active state */
input:focus ~ .highlight {
    -webkit-animation: inputHighlighter 0.3s ease;
    -moz-animation: inputHighlighter 0.3s ease;
    animation: inputHighlighter 0.3s ease;
}
textarea:focus ~ .highlight {
    -webkit-animation: inputHighlighter 0.3s ease;
    -moz-animation: inputHighlighter 0.3s ease;
    animation: inputHighlighter 0.3s ease;
}

/* ANIMATIONS ================ */
@-webkit-keyframes inputHighlighter {
    from {
        background: #5264ae;
    }
    to {
        width: 0;
        background: transparent;
    }
}
@-moz-keyframes inputHighlighter {
    from {
        background: #5264ae;
    }
    to {
        width: 0;
        background: transparent;
    }
}
@keyframes inputHighlighter {
    from {
        background: #5264ae;
    }
    to {
        width: 0;
        background: transparent;
    }
}



@media screen and (min-width: 1440px) {
    .container-img {
        width: 415.8px;
        max-width: 500px;
        transform: translateY(0px, 45px) !important;
    }

    .container-img img {
        max-height: 350px;
        width: 100%;
        height: auto;
        display: block;
        object-fit: cover;
    }
}

@media screen and (min-width: 320px) {
    #about .container {
        flex-direction: column !important;
        align-items: center;
    }

    #about .about-text {
        margin-top: 70px !important;
    }

    .container-img {
        width: 330px;
        max-width: 450px;
    }
    
    .container-img img {
        max-height: 350px;
        max-width: 100%;
        width: auto;
        height: auto;
        display: block;
        object-fit: cover;
    }

    #contact container {
        justify-content: center !important;
    }
    #contact .container .form-contact {
        margin: auto !important;
    }
    #contact .contact-text {
        font-size: 70px !important;
        margin: auto !important;
    }

    .navbar .navbar-collapse {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
    
    .navbar .navbar-brand {
        margin-bottom: 1rem;
    }
    
    #article-content .container .img-fluid img{
        max-width: 400px;
        height: auto !important;
        border-radius: 20px;
        object-fit: cover;
    }
}

@media screen and  (min-width: 1280px) {

    #about .container {
        flex-direction: row !important;
        align-items: center;
    }

    #about .about-text {
        margin-top: 70px !important;
    }

    #article-content .container .img-fluid img{
        max-width: 1000;
        height: auto;
        border-radius: 20px;
    }

    #contact container {
        justify-content: center !important;
    }
    #contact .container .form-contact {
        margin-left: 100px !important;
    }
    #contact .contact-text {
        font-size: 90px !important;
        margin:-right 90px !important;
    }
}